ul {
  list-style-type: none;
  text-align: center;
  display: block;
  background-color: pink;
  width: 100%;
  padding: 25px 0;
}
li {
  display: incline;
  padding: 80px;
}
li a {
  color: salmon;
  display: incline;
}
div.navbar {
  width: 80%;
  left: 20%;
  position: absolute;
}

